<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/lib/require.js" aync></script>
    <!-- <script src="js/app.js" defer></script> -->
    <script type="text/babel" src="js/app/main.js" defer></script>
    <title>Tensor School SeaBattle Game</title>
</head>

<body>
    <div class="page">
        <div class="content">
            <div class="content__main-column">
                <div class="module">
                    <div class="gameSeaBattle">
                        <template v-for="n in players">
                            <div class="gameCanvas">
                                <div class="gameCanvas__title">{{n.name}}</div>
                                <div class="gameGrid">
                                    <template v-for="i in 11">
                                        <template v-for="j in 11">
                                            <template v-if="i == 1 && j == 1">
                                                <div class="gameGrid__value">
                                                </div>
                                            </template>
                                            <template v-else-if="i == 1 && j != 1">
                                                <div class="gameGrid__value" style="border-bottom: 2px solid #000;">
                                                    {{letters[j-2]}}
                                                </div>
                                            </template>
                                            <template v-else-if="i != 1 && j == 1">
                                                <div class="gameGrid__value" style="border-right: 2px solid #000;">
                                                    {{i-1}}
                                                </div>
                                            </template>
                                            <template v-else>
                                                <div @click="gridClick(i-1,j-1)"
                                                    class="gameGrid__square gameGrid__square--selected"
                                                    style="border-bottom: 2px solid #000;border-right: 2px solid #000;">
                                                </div>
                                            </template>
                                        </template>
                                    </template>
                                </div>
                        </template>
                    </div>
                </div>
            </div>
            <div class="content__secondary-column">
                <div class="module">
                    © Special for Tensor by Alsynbaev F.
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        var vue1 = new Vue({
            el: '.page',
            data: {
                players: [
                    { name: 'Вася' },
                    { name: 'Компуктер' }
                ],

                letters: 'АБВГДЕЖЗИК'
            },
            methods: {
                gridClick: (i, j) => {
                    console.log(i + '  ' + j);
                }
            }
        })
    </script>
</body>

</html>